body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#clickMe {
    padding: 16px 32px;
    background-color: yellow;
    border: none;
    border-radius: 4px;
    font-size: large;
}

#clickMe:active {
    background-color: aqua;
}